{% extends 'layout.njk' %}
{% set title = 'Home' %}

{% block content %}
  <main>
    <div id="ymca-form">
      <h1 id="calculateChildcare" tabindex="-1">Calculate your childcare costs</h1>
      
      <noscript>
        <p>
          Unfortunately, this page uses Javascript to calculate your childcare 
          costs.
        </p>
        <p>
          If you can't turn on Javascript, or don't know what this means, 
          you can call us between 8am and 6pm on <span class="bold ymca-purple">0191 2828137</span>.
        </p>
      </noscript>

      <form id="unhide-with-js">
        <div class="ymca-form-group" id="fg-freeChildcare">
          <div class="ymca-radios">
            <fieldset>
              <legend class="ymca-legend">
                Do you get free childcare?
                <span class="ymca-hint">
                  <span class="bold">Funding starts the term after your child turns 2 or 3.</span>
                  <br />
                  You can use GOVUK to <a href="#">check if you get free childcare</a>.
                </span>
              </legend>
              
              <div class="ymca-radios__item" data-target="freeChildcare-hidden">
                <input class="ymca-radio__button" id="freeChildcare-yes" name="freeChildcare" type="radio" value="Yes">
                <label class="ymca-label ymca-label--radio" for="freeChildcare-yes">Yes</label>
              </div>

              <div class="ymca-radios__item">
                <input class="ymca-radio__button" id="freeChildcare-no" name="freeChildcare" type="radio" value="No">
                <label class="ymca-label ymca-label--radio" for="freeChildcare-no">No</label>
              </div>
            </fieldset>
          </div>

          <div class="ymca-inset-text js-hidden" id="freeChildcare-hidden">
            <div class="ymca-form-group" id="fg-freeChildcareAmount">
              <div class="ymca-radios ymca-radios--inline">
                <fieldset>
                  <legend class="ymca-legend">
                    How many hours free childcare do you get
                  </legend>

                  <div class="ymca-radios__item">
                    <input class="ymca-radio__button" id="freeChildcare-15" name="freeChildcareAmount" type="radio" value="15">
                    <label class="ymca-label ymca-label--radio" for="freeChildcare-15">15</label>
                  </div>

                  <div class="ymca-radios__item">
                    <input class="ymca-radio__button" id="freeChildcare-30" name="freeChildcareAmount" type="radio" value="30">
                    <label class="ymca-label ymca-label--radio" for="freeChildcare-30">30</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="ymca-form-group" id="fg-dob">
          <fieldset class="ymca-date">
            <legend class="ymca-legend">
              What is your child's date of birth?
            </legend>

            <div class="ymca-date__item ymca-date__day">
              <label class="ymca-label" for="dob-day">Day</label>
              <input class="ymca-input-field" type="number" name="dob[day]" id="dob-day" pattern="\d*" />
            </div>

            <div class="ymca-date__item ymca-date__month">
              <label class="ymca-label" for="dob-month">Month</label>
              <input class="ymca-input-field" type="number" name="dob[month]" id="dob-month" pattern="\d*" />
            </div>

            <div class="ymca-date__item ymca-date__year">
              <label class="ymca-label" for="dob-year">Year</label>
              <input class="ymca-input-field" type="number" name="dob[year]" id="dob-year" pattern="\d*" />
            </div>
          </fieldset>
        </div>

        <div class="ymca-form-group" id="fg-startDate">
          <fieldset class="ymca-date">
            <legend class="ymca-legend">
              When would you like the childcare to start?
            </legend>

            <div class="ymca-date__item ymca-date__day">
              <label class="ymca-label" for="start-day">Day</label>
              <input class="ymca-input-field" type="number" name="start[day]" id="start-day" pattern="\d*" />
            </div>

            <div class="ymca-date__item ymca-date__month">
              <label class="ymca-label" for="start-month">Month</label>
              <input class="ymca-input-field" type="number" name="start[month]" id="start-month" pattern="\d*" />
            </div>

            <div class="ymca-date__item ymca-date__year">
              <label class="ymca-label" for="start-year">Year</label>
              <input class="ymca-input-field" type="number" name="start[year]" id="start-year" pattern="\d*" />
            </div>
          </fieldset>
        </div>

        <div class="ymca-form-group" id="fg-fulltime">
          <fieldset>
            <legend class="ymca-legend">
              Do you need full-time childcare?
              <span class="ymca-hint">Full time is 8am to 6pm Monday to Friday.</span>
            </legend>
            
            <div class="ymca-radios__item" data-target="part-time-hidden">
              <input class="ymca-radio__button" type="radio" name="fulltime" value="Yes" id="fulltime-yes" />
              <label class="ymca-label ymca-label--radio" for="fulltime-yes">Yes</label>
            </div>

            <div class="ymca-radios__item">
              <input class="ymca-radio__button" type="radio" name="fulltime" value="No" id="fulltime-no"/>
              <label class="ymca-label ymca-label--radio"for="fulltime-no">No</label>
            </div>
          </fieldset>

          <div class="ymca-inset-text js-hidden" id="part-time-hidden">
            <h2 class="ymca-body">
              Choose what you need
            </h2>
            
            <div class="ymca-form-group" if="fg-partTime">
              <fieldset>
                <legend class="ymca-legend">Monday</legend>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="monday[]" value="full" id="monday-full" />
                  <label class="ymca-label ymca-label--radio" for="monday-full">All day</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="monday[]" value="half" id="monday-morning" />
                  <label class="ymca-label ymca-label--radio" for="monday-morning">Morning</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="monday[]" value="half" id="monday-afternoon" />
                  <label class="ymca-label ymca-label--radio" for="monday-afternoon">Afternoon</label>
                </div>
              </fieldset>
            </div>

            <div class="ymca-form-group">
              <fieldset>
                <legend class="ymca-legend">Tuesday</legend>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="tuesday[]" value="full" id="tuesday-full" />
                  <label class="ymca-label ymca-label--radio" for="tuesday-full">All day</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="tuesday[]" value="half" id="tuesday-morning" />
                  <label class="ymca-label ymca-label--radio" for="tuesday-morning">Morning</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="tuesday[]" value="half" id="tuesday-afternoon" />
                  <label class="ymca-label ymca-label--radio" for="tuesday-afternoon">Afternoon</label>
                </div>
              </fieldset>
            </div>

            <div class="ymca-form-group">
              <fieldset>
                <legend class="ymca-legend">Wednesday</legend>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="wednesday[]" value="full" id="wednesday-full" />
                  <label class="ymca-label ymca-label--radio" for="wednesday-full">All day</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="wednesday[]" value="half" id="wednesday-morning" />
                  <label class="ymca-label ymca-label--radio" for="wednesday-morning">Morning</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="wednesday[]" value="half" id="wednesday-afternoon" />
                  <label class="ymca-label ymca-label--radio" for="wednesday-afternoon">Afternoon</label>
                </div>
              </fieldset>
            </div>

            <div class="ymca-form-group">
              <fieldset>
                <legend class="ymca-legend">Thursday</legend>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="thursday[]" value="full" id="thursday-full" />
                  <label class="ymca-label ymca-label--radio" for="thursday-full">All day</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="thursday[]" value="half" id="thursday-morning" />
                  <label class="ymca-label ymca-label--radio" for="thursday-morning">Morning</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="thursday[]" value="half" id="thursday-afternoon" />
                  <label class="ymca-label ymca-label--radio" for="thursday-afternoon">Afternoon</label>
                </div>
              </fieldset>
            </div>

            <div class="ymca-form-group">
              <fieldset>
                <legend class="ymca-legend">Friday</legend>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="friday[]" value="full" id="friday-full" />
                  <label class="ymca-label ymca-label--radio" for="friday-full">All day</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="friday[]" value="half" id="friday-morning" />
                  <label class="ymca-label ymca-label--radio" for="friday-morning">Morning</label>
                </div>

                <div class="ymca-radios__item">
                  <input class="ymca-radio__button" type="radio" name="friday[]" value="half" id="friday-afternoon" />
                  <label class="ymca-label ymca-label--radio" for="friday-afternoon">Afternoon</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <button class="ymca-button">Continue</button>
      </form>
    </div>
    <div id="ymca-results"></div>
  </main>
{% endblock %}